
/* style */
.link_list {
    list-style: none;

}




/* layoyt */

.app_content {
    width: 100%;
    height: 100%;
}

.app_wrapper {
    display: flex;
}

.main_app {
    width: calc(100% - 70px);

}

@media (min-width:992px) {
    .main_app {
        width: calc(100% - 140px);
    }
}



/* header */

header .row {
    height: 70px;
    align-items: center;
    justify-content: center;
}

.searchbar {
    flex-grow: 1;
}



.link {
    display: flex;
    gap: 8px;
}


/* main */

aside {
    width: 70px;
    height: calc(100vh - 70px);
}

.aside_bar {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.settings {
    margin-top: auto;
}

@media (min-width: 992px) {

    aside {
        width: 140px;
    }
}

/* main header */

.main_header {
    flex-grow: 1;
    width: 100%;
    height: fit-content;
}




















/* DEBUG */
.debug .searchbar {
    border: 2px dotted black;
}

.debug .logo {
    border: 2px dotted black;
}

.debug .link {
    border: 2px dotted black;
}

.debug header {
    background-color: rgb(97, 97, 246);
}

.debug .row {
    border: 2px dotted red;
}


.debug aside {
    background-color: rgb(122, 246, 97);
}

.debug .main_header {
    background-color: rgb(218, 244, 17);
}



/* .debug .card {
    background-color: rgba(244, 17, 17, 0.463);
    border: 2px solid black;
    height: fit-content;

} */