
/* style */
.link_list {
    list-style: none;
    padding: 0;
    margin: 0;
}

#app {
    background-color: #FEFEFE;
}



/* layoyt */

.app_content {
    width: 100%;
    height: 100%;
}

.app_wrapper {
    display: flex;
}

.main_app {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}


/* header */

header {
    height: 70px;
    background-color: #FEFEFE;
}

header > * {
    background-color: white;
}

.searchbar {
    flex-grow: 1;
    position: relative;
}

.searchbar input {
	height: 42px;
	background-color: #e5e5e5;
	border-radius: 10px;
	width: 100%;
	border: none;
	padding-left: 42px;
}

.searchbar .search-bar__icon {
	position: absolute;
	top: 50%;
	left: 16px;
	transform: translateY(-50%);
	pointer-events: none;
}

.logo_mobile {
    width: 50px;
}

.header a {
    color: black;
    text-decoration: none;

}


.bell_button {
    color: #FF8F00;
}

/* main */

aside {
    width: 70px;
    height: calc(100vh - 70px);
    background-image: url(../img/sidebar-bg.png);
    background-repeat: no-repeat;
    background-color: #051e34;
    color: white;
}


aside a {
    text-decoration: none;
    color: white;
}

.aside_bar {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}


.settings {
    margin-top: auto;
}

@media (min-width: 992px) {

    aside {
        width: 140px;
    }
}

/* main header */

.main_header {
    width: 100%;
}




















/* DEBUG */
/* .debug .searchbar {
    border: 2px dotted black;
} */

/* .debug header {
    background-color: rgb(97, 97, 246);
} */

.debug .row {
    border: 2px dotted red;
}


/* .debug aside {
    background-color: rgb(122, 246, 97);
} */

.debug .main_header {
    background-color: rgb(218, 244, 17);
}



/* .debug .card {
    background-color: rgba(244, 17, 17, 0.463);
    border: 2px solid black;
    height: fit-content;

} */